* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.main {
    background-color: #EBEBEB;
    height: 100%;
}

.ft-top {
    margin-bottom: 5px;
    padding: 15px 0px;
}

.ft-container-title {
    color: #2e3553;
    margin-left: 90px;
    line-height: 34px;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 5px;
}

.ft-container {
    display: flex;
    width: 100%;
    padding: 0 75px;
}

.ft-container-content {
    display: flex;
    width: 100%;
    ;
}

.ft-container-item {
    width: 33.33333%;
    padding: 0 15px;
    border-right: 1px solid #323c3f;
}

.ft-container-item:last-child {
    border: none;
}

.ft-container-item>p {
    line-height: 24px;
}

h3>strong {
    margin-bottom: 10px;
    display: inline-block;
    color: #323c3f;
    font-weight: bold;
    font-size: 14px;
}

p {
    margin-bottom: 5px;
    color: #333;
}

p a {
    text-decoration: none;
    color: #333;
}

p a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.ft-bottom {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 27px;
}

.none-border-right {
    border: none;
}

.item-info {
    display: flex;
    width: 100%;
}

.info-left,
.info-right {
    width: 50%;
}

.info-tittle {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #333;
    padding-bottom: 5px;
}

.info-item {
    list-style: none;
    line-height: 30px;
    transition: all 0.3s ease;
}

.info-item:hover {
    opacity: 0.7;
    transform: translateX(10px);
}

.info-link {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    display: block;
}

.info-form-input {
    width: 100%;
    display: inline-block;
    background: #ebebeb;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    margin-bottom: 10px;
    height: 30px;
    min-height: 30px;
    padding: 0;
    font-size: 12px;
    line-height: 1.7;
}

.form-btn {
    margin-bottom: 10px;
    width: 100%;
}

.btn {
    color: #ffffff;
    border: none;
    background-color: #636060;
    border-color: #636060;
    padding: 6px 15px;
    line-height: 1.7;
    font-size: 12px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.social {
    margin-bottom: 25px;
}

.social a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px 0 0;
}

.social a.facebook {
    background: #3B599A;
    color: #fff;
}

.social a.youtube {
    background: #DB473E;
    color: #fff;
}

.social a.pinterest {
    background: #E60023;
    color: #fff;
}

.social a.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}

.social a.zalo {
    background: #0084CB;
    color: #fff;
}

.contact-item {
    margin-bottom: 5px;
    list-style: none;
}

.contact-item i {
    padding-right: 10px;
    font-size: 12px;
    color: #575459;
}

.contact-link {
    font-size: 14px;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
    line-height: 1.7;
}

.contact-link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.certificate {
    margin-top: 20px;
}

.ft-product__portfolio {
    margin: 20px 90px 0;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
}

.product__portfolio-item {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    transition: all 0.3s ease;
}

.product__portfolio-item::after {
    content: "\|";
    display: block;
    font-size: 14px;
    color: #666;
    position: absolute;
    top: -1px;
    right: -2px;
}

.product__portfolio-item:last-child::after {
    content: "";
}

.product__portfolio-item:hover {
    text-decoration: underline;
    opacity: 0.7;
}

.product__portfolio-link {
    text-decoration: none;
    font-size: 12px;
    color: #333;
}

.coppy-right {
    line-height: 40px;
    text-align: center;
    color: #333;
    padding: 10px 0;
    background: #fff;
    font-size: 12px;
}

.coppy-right span {
    color: #A8A9AD ;
}

.coppy-right span strong {
    color: #333;
}
