* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 55px;
    background-color: #333;
}

.header__list {
    width: 100%;
}

.header__item {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
    transition: all 0.3s linear;
}

.header__item:hover {
    background-color: #4CAF50;
}

.header__link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    line-height: 55px;
    display: block;
}

.content {
    margin: 25px 95px 0 155px;
    border-top: 3px solid #12171B;
    border-left: 1px solid #12171B;
}

.content__header {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #2A3D51;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.content__header h4 {
    margin-left: 40px;
}

.content__header-list {
    margin-right: 40px;
}

.content__header-item {
    display: inline-block;
    list-style: none;
    height: 40px;
    padding: 0 10px;
    transition: all 0.3s linear;
}

.content__header-item:hover {
    background-color: #19232F;
}

.content__header-link {
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.content__title {
    width: 100%;
}

.content__title h1 {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    color: #2A3D51;
}

.icon-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.line {
    width: 70px;
    height: 3px;
    background-color: #2A3D51;
    margin: 8px 5px;
    border-radius: 5px;
}

.icon-title i {
    color: #2A3D51;
}

.cotent__info {
    margin-top: 14px;
    width: 100%;
}

.cotent__info-input {
    width: 100%;
    margin-left: 155px;
}

.cotent__info-input input {
    width: 73%;
    padding: 15px 10px;
    margin: 5px 0;
    font-size: 18px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.cotent__info-input input:focus {
    box-shadow: 3px 4px 5px #ddd;
}